.container {
  height: 90vh;
  background-color: black;
  width: 100%;
  margin-bottom: 3em;
}


.splide {
  height: 100% !important;
}


.splide > div:nth-child(1) {
  button {
    transform: scale(1.5);
    background-color: transparent !important;
    color: #EEEEEE;
    transition: 350ms;

    &:hover {
      transform: scale(1.8);
    }

    path {
      fill: white;
      stroke: rgb(0, 0, 0);
      stroke-width: 1px;
      stroke-dasharray: 2, 2;
      stroke-linejoin: round;
    }
  }

  button:nth-child(1) {
    left: 3em !important
  }

  button:nth-child(2) {
    right: 3em !important
  }
}


.splide > ul {
  gap: 0.8em !important;
  margin: 1.5em 0;

  button {
    transform: none !important;
    background: rgba($color: #fff, $alpha: 0.5);
    opacity: 1 !important;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 1.0) !important;
    }
  }
}


.splide__track {
  height: 100% !important;
}
