.container {
  padding: 4em 2em 0;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  margin: 2em 0;
  gap: 1em;
}
