:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url('./_assets/images/default-3840x2160.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: rgba(62, 59, 68, 0.7);
  padding: 0.8em 1.4em;
  outline: none;
  border: 0px black solid;
  border-width: 2px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}

button:hover {
  background-color: rgba(15, 15, 15, 0.98);
  border-color: rgb(117, 62, 239);
}
